<section id="locations" class="section">
  <div class="container">
    <div class="section-header">
      <h2>Все страны в&nbsp;одной подписке</h2>
      <a href="https://status.pavuka.net/status/pipun" target="_blank" rel="noopener noreferrer" class="link-pink" style="position: relative; z-index: 10;">Статус серверов ↗</a>
    </div>

    <div class="countries-grid">
      {{ if or (not .Params.url) (ne .Params.url "/finland/") }}
      <a href="/finland/" class="country-card">
        <div class="country-flag">
          <img src="/images/flags/finland.svg" alt="VPN сервер в Финляндии с минимальным пингом">
        </div>
        <div class="country-info">
          <div class="country-name">Финляндия</div>
          <div class="country-description">Минимальный пинг</div>
        </div>
      </a>
      {{ end }}

      {{ if or (not .Params.url) (ne .Params.url "/germany/") }}
      <a href="/germany/" class="country-card">
        <div class="country-flag">
          <img src="/images/flags/germany.svg" alt="VPN сервер в Германии для YouTube 4K">
        </div>
        <div class="country-info">
          <div class="country-name">Германия</div>
          <div class="country-description">Youtube 4K 60fps</div>
        </div>
      </a>
      {{ end }}

      {{ if or (not .Params.url) (ne .Params.url "/turkey/") }}
      <a href="/turkey/" class="country-card">
        <div class="country-flag">
          <img src="/images/flags/turkey.svg" alt="Турецкий VPN для YouTube и PS Store">
        </div>
        <div class="country-info">
          <div class="country-name">Турция</div>
          <div class="country-description">YouTube, PS Store</div>
        </div>
      </a>
      {{ end }}

      {{ if or (not .Params.url) (ne .Params.url "/latvia/") }}
      <a href="/latvia/" class="country-card">
        <div class="country-flag">
          <img src="/images/flags/latvia.svg" alt="VPN сервер в Латвии без блокировок">
        </div>
        <div class="country-info">
          <div class="country-name">Латвия</div>
          <div class="country-description">Минимум блокировок</div>
        </div>
      </a>
      {{ end }}

      {{ if or (not .Params.url) (ne .Params.url "/kazakhstan/") }}
      <a href="/kazakhstan/" class="country-card">
        <div class="country-flag">
          <img src="/images/flags/kazakhstan.svg" alt="VPN сервер в Казахстане для доступа к банкам">
        </div>
        <div class="country-info">
          <div class="country-name">Казахстан</div>
          <div class="country-description">Доступ к&nbsp;банкам</div>
        </div>
      </a>
      {{ end }}

      {{ if or (not .Params.url) (ne .Params.url "/usa/") }}
      <a href="/usa/" class="country-card">
        <div class="country-flag">
          <img src="/images/flags/usa.svg" alt="VPN сервер в США для американских сервисов">
        </div>
        <div class="country-info">
          <div class="country-name">США</div>
          <div class="country-description">ChatGPT, Claude, Netflix</div>
        </div>
      </a>
      {{ end }}

      {{ if or (not .Params.url) (ne .Params.url "/poland/") }}
      <a href="/poland/" class="country-card">
        <div class="country-flag">
          <img src="/images/flags/poland.svg" alt="Польский VPN с высокой скоростью и низким пингом">
        </div>
        <div class="country-info">
          <div class="country-name">Польша</div>
          <div class="country-description">Надёжный сервер</div>
        </div>
      </a>
      {{ end }}

      <div class="country-card coming-soon">
        <div class="country-flag">
          <img src="/images/flags/india.svg" alt="VPN сервер в Индии с низкими ценами - скоро">
        </div>
        <div class="country-info">
          <div class="country-name">Индия</div>
          <div class="country-description">Низкие цены</div>
        </div>
        <div class="badge">Скоро в&nbsp;подписке</div>
      </div>
    </div>
  </div>
</section>
