<section id="blog" class="section">
  <div class="container">
    <h2 class="section-title">Подходит для повседневных задач</h2>

    <div class="articles-grid">
      {{ if or (not .Params.url) (ne .Params.url "/youtube/") }}
      <a href="/youtube/" class="article-card">
        <div class="article-image">
          <img src="/images/solutions/youtube.jpg" alt="Смотреть YouTube через VPN">
        </div>
        <div class="article-title">Смотреть YouTube</div>
      </a>
      {{ end }}

      {{ if or (not .Params.url) (ne .Params.url "/roblox/") }}
      <a href="/roblox/" class="article-card">
        <div class="article-image">
          <img src="/images/solutions/roblox.jpg" alt="Играть в Roblox через VPN">
        </div>
        <div class="article-title">Играть в Roblox</div>
      </a>
      {{ end }}

      {{ if or (not .Params.url) (ne .Params.url "/discord/") }}
      <a href="/discord/" class="article-card">
        <div class="article-image">
          <img src="/images/solutions/ds.jpg" alt="Общаться в Discord через VPN">
        </div>
        <div class="article-title">Общаться в Discord</div>
      </a>
      {{ end }}
    </div>
  </div>
</section>
