<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  {{ $styles := resources.Get "scss/main.scss" | css.Sass | resources.Minify }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
</head>
<body>
  {{ block "main" . }}{{ end }}
  <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.170.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.170.0/examples/jsm/"
      }
    }
  </script>
  <script type="module" src="/js/main.js"></script>
</body>
</html>
